.main{
    background-color: rgba(0,0,0,0.3);
    height: 600px;
   }
   .btn-point{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 100px;
    
   }
 .btn-point  button{
    padding: 13px 20px;
   border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(17, 17, 17);
    color: white;
    border-bottom: 3px solid rgb(189, 45, 45);
    font-weight: 700;
    font-size: 17px;

   }
   .imagecontainer{
   
    position: relative;
    height: 400px;
   }
   image{
   position: relative;
   }
   .active{
    display: block;
   } 
   #con1,#con2,#con3{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   }